
<beans:beans
	xmlns="http://www.springframework.org/schema/security"

	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http use-expressions="true">
		<intercept-url pattern="dashboard**" />
		<form-login login-page=""
			default-target-url="/welcome"
			authentication-failure-url="/login-error.jsp"
			username-parameter="username" password-parameter="password" />
		<logout logout-success-url="/dashboard**" />
		<!-- enable csrf protection -->
		<csrf />
	</http>


	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="user" password="password" authorities="ROLE_USER" />
			</user-service>
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>


	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</beans:bean>
</beans:beans> 


